.menu {
  height: 50px;
  // height: 2.5vw;
  width: 100%;
  background-color: #404254;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
  user-select: none;
  z-index: 2;

  @media only screen and (max-width: 1026px) {
    .logo {
      display: none;
    }
  }

  .logo {
    position: fixed;
    // padding-left: 16px;
    // padding-top: 2px;
    // left: 0px;
    // padding-left: .5vw;
    // padding-top: .5vw;
    left: .5%;
    top: .2%;
    text-decoration: none;
    color: white;
    // font-family: "Helvetica Neue", sans-serif, arial;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 2.5em;
    // font-size: 2vw;
    cursor: pointer;
  }

  .actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
    align-items: center;

    .action {
      // padding: 0 50px 0 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Roboto', sans-serif;
      // font-family: "Helvetica Neue", sans-serif, arial;
      // font-size: 150%;
      // width: 200px;
      text-align: center;
      width: 20%;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 100%;
      // font-weight: bold;
      cursor: pointer;
    }
    @media only screen and (max-width: 1026px) {
      .action {
        width: 100vw;
      }
    }
  }
}
