.homeContainer {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  z-index: 1;

  .splash {
    // width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
    .logo {
      // height: 500px;
      // width: 80%;
      width: 80%;
      // max-width: 90%;
      user-select: none;
    }
  }

  @media only screen and (max-width: 1026px) {
    // .logo {
    //   display: none;
    // }
    .splash {
      height: 32vh;
    }
    .downCarrotContainer {
      display: none;
    }
  }

  .downCarrotContainer {
    position: absolute;
    align-content: center;
    bottom: 32px;
    left: 0;
    width: 100%;
    text-align: center;
    .downCarrot_img {
      width: 5%;
      cursor: pointer;
      transition: 400ms ease-in-out;
      &:hover {
        transform: translateY(16px);
        transition: 600ms ease-in-out;
      }
    }
    .downCarrot {
      font-size: 5em;
      cursor: pointer;
      transition: 400ms ease-in-out;
      &:hover {
        transform: translateY(16px);
        transition: 600ms ease-in-out;
      }
    }
  }

  .about {
    // width: 100%;
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // margin-top: 2vw;

    .about_text {
      // margin-top: 20px;
      // font-family: "Helvetica Neue", sans-serif, arial;
      font-family: 'Roboto', sans-serif;
      // font-size: 300%;
      font-size: 3vw;
      font-weight: bold;
      color: #1c1f29; 
    }

    .modal {
      display: none;
      margin-right: 33vw;
      margin-left: 33vw;
      margin-top: 3vw;
      // border: 2px #15161a solid;

      .modal_display {
        height: 100%;
        border-spacing: 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        position: relative; 
        
        .headshot_detail {
          align-self: center;
          height: 20vw;
          cursor: pointer;
          user-select: none;
          border-radius: 50%;
        }
  
        .name {
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 2vw;
          font-weight: bold;
        }

        .description {
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 1vw;
        }

        @media only screen and (max-width: 1026px) {
          .headshot_detail {
            height: 30vw;
          }
          .name {
            font-size: 3.3vw;
          }
          .description {
            font-size: 2.9vw;
          }
        }
      }
    }

    @media only screen and (max-width: 1026px) {
      .modal {
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: 3vw;
      }
    }

    .modal.open {
      display: block;
    }

    .headshotsContainer.isPopUp {
      display: none;
    }

    .headshotsContainer {
      // height: 40vw;
      // margin-top: 30px;
      margin-top: 2vw;
      // padding-left: 150px;
      // padding-right: 150px;
      margin-right: 10vw;
      margin-left: 10vw;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-around;
  
      .headshot{
        height: 21vw;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
  
        .headshot_text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #003858;
          font-family: "Helvetica Neue", sans-serif, arial;
          // font-size: 150%;
          font-size: 1.5vw;
          font-weight: bolder;
        }

        .headshot_subtext {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-family: "Helvetica Neue", sans-serif, arial;
          // font-size: 150%;
          font-size: 1.1vw;
          font-weight: bold;
          // font-weight: lighter;
        }

        .headshot_subsubtext {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-family: "Helvetica Neue", sans-serif, arial;
          // font-size: 150%;
          font-size: 1vw;
          // font-weight: bold;
          // font-weight: lighter;
        }
    
        .headshot_img {
          align-self: center;
          // height: 250px;
          height: 15vw;
          cursor: pointer;
          // width: auto;
          user-select: none;
          border-radius: 50%;
        }
        @media only screen and (max-width: 1026px) {
          .headshot_text {
            font-size: 3.3vw;
          }
          .headshot_subtext {
            font-size: 2.7vw;
          }
          .headshot_subsubtext {
            font-size: 2.3vw;
          }
          .headshot_img {
            height: 30vw;
          }
        }
      }
      @media only screen and (max-width: 1026px) {
        .headshot {
          height: 45vw;
        }
      }
    }
    @media only screen and (max-width: 1026px) {
      .headshotsContainer {
        margin-right: 1vw;
        margin-left: 1vw;
      }
      .about_text {
        font-size: 5vw;
      }
    }

    .descriptionContainer {
      // height: 500px;
      // margin-top: 50px;
      margin-top: 2vw;
      // padding-left: 200px;
      // padding-right: 200px;
      padding-left: 5vw;
      padding-right: 5vw;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-around;

      .descriptionText {
        margin-top: 5vw;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 200%;
        color: #15161a;
        font-size: 2vw;
      }

      @media only screen and (max-width: 1026px) {
        .descriptionText {
          font-size: 4vw;
        }
      }
    }
  }

  .previous_work {
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    // margin-top: 10vw;

    .previous_work_text {
      // margin-top: 20px;
      font-family: "Helvetica Neue", sans-serif, arial;
      // font-size: 300%;
      font-size: 3vw;
      font-weight: bold;
      color: #1c1f29; 
    }

    @media only screen and (max-width: 1026px) {
      .previous_work_text {
        font-size: 5vw;
      }
    }

    .downloadContainer {
      width: 100%;
      height: auto;
      // margin-top: 50px;
      margin-top: 3vw;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: space-around;
      flex-direction: column;
      background: #404254;

      .download_title {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 350%;
        font-size: 3vw;
        font-weight: bold;
      }

      .download_subtitle {
        // margin-top: 20px;
        margin-top: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 200%;
        font-size: 2vw;
        // font-weight: bold;
      }

      @media only screen and (max-width: 1026px) {
        .download_title {
          font-size: 4vw;
        }
        .download_subtitle {
          font-size: 3vw;
        }
      }

      .download_list {
        margin-top: 2vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;

        .download_item {
          // height: 300px;
          height: 30vw;
          // padding: 15px;
          padding: 1vw;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: space-around;
    
          .download_text {
            padding: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            font-family: "Helvetica Neue", sans-serif, arial;
            // font-size: 150%;
            font-size: 2vw;
            font-weight: bold;
          }
      
          .download_icon {
            // margin-right: 30px;
            // height: 200px;
            height: 20vw;
            width: auto;
            // width: 15%;
            user-select: none;
          }
        }
      }
    }
  }

  .contact_us {
    padding-top: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 10vw;

    .contact_us_text {
      font-family: "Helvetica Neue", sans-serif, arial;
      // font-size: 300%;
      font-size: 3vw;
      font-weight: bold;
    }

    @media only screen and (max-width: 1026px) {
      .contact_us_text {
        font-size: 5vw;
      }
    }


    .mailContainer {
      padding: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .mail_icon {
        height: 5vw;
        width: auto;
        user-select: none;
      }

      .mail_text {
        display: flex;
        // justify-content: center;
        // align-items: center;
        color: #2D9CDB;
        font-family: "Helvetica Neue", sans-serif, arial;
        font-size: 2vw;
        font-weight: bold;
      }
      @media only screen and (max-width: 1026px) {
        .mail_icon{
          height: 7vw;
        }
        .mail_text {
          font-size: 4vw;
        }
      }
    }
  }
}

