<div class="homeContainer" id="home_elem">
  <div class="splash">
    <img draggable="false" class="logo" src="../../assets/Sapana.jpeg" alt="Main Sapana Logo: Strategies for Aerospace Policy and Norm Adoption">
  </div>
  <div class="downCarrotContainer" (click)="downCarrotPressed()" ><img draggable="false" class="downCarrot_img" src="../../assets/dcarrot.png" alt="Britnee Leopold"></div>
  <div class="about" id="about_elem">

    <p class="about_text">
      About Us
    </p>

    <div class="modal" id="modall">
      <div class="modal_display">

          <img draggable="false" (click)="returnButton()" class="headshot_detail" src={{imageLink}} alt={{name}}><br>

          <p class="name">{{name}}</p><br>
          <p class="description">{{description}}</p><br>

          <button (click)="returnButton()">Back</button>
      </div>
    </div>

    <div class="headshotsContainer" id="headshotsCont">

      <div class="headshot" id="timFace">
          <img draggable="false" (click)="personPressed('timFace')" class="headshot_img" src="../../assets/tim.jpg" alt="Timothy Passmore">
          <p class="headshot_text">Tim Passmore, PhD</p>
          <p class="headshot_subtext">Strategy</p>
          <p class="headshot_subsubtext">Political Science</p>
      </div>
      <div class="headshot" id="akhilFace">
        <img draggable="false" (click)="personPressed('akhilFace')" class="headshot_img" src="../../assets/akhil.png" alt="Akhil Rao">
        <p class="headshot_text">Akhil Rao, PhD</p>
        <p class="headshot_subtext">Policy</p>
        <p class="headshot_subsubtext">Economics</p>
      </div>
      <div class="headshot" id="danielFace">
          <img draggable="false" (click)="personPressed('danielFace')" class="headshot_img" src="../../assets/daniel.jpg" alt="Daniel Scott">
          <p class="headshot_text">Daniel Scott</p> 
          <p class="headshot_subtext">Operations</p>
          <p class="headshot_subsubtext">Computer Science & Business</p>
      </div>
      <div class="headshot" id="britneeFace">
          <img draggable="false" (click)="personPressed('britneeFace')" class="headshot_img" src="../../assets/britnee.jpg" alt="Britnee Leopold">
          <p class="headshot_text">Britnee Leopold</p>
          <p class="headshot_subtext">Public Relations</p>
          <p class="headshot_subsubtext">Aerospace Engineering</p>
      </div>
      <div class="headshot" id="mattFace">
          <img draggable="false" (click)="personPressed('mattFace')" class="headshot_img" src="../../assets/matt.jpg" alt="Matthew Roberts">
          <p class="headshot_text">Matt Roberts</p>
          <p class="headshot_subtext">Research</p>
          <p class="headshot_subsubtext">Mechanical Engineering</p>
      </div>
      <div class="headshot" id="kimFace">
          <img draggable="false" (click)="personPressed('kimFace')" class="headshot_img" src="../../assets/kim.jpg" alt="Kimberly DeVore">
          <p class="headshot_text">Kimberly DeVore</p>
          <p class="headshot_subtext">Product Development</p>
          <p class="headshot_subsubtext">Mechanical Engineering</p>
      </div>
      <div class="headshot" id="meerFace">
          <img draggable="false" (click)="personPressed('meerFace')" class="headshot_img" src="../../assets/meer.jpg" alt="Meer Baker">
          <p class="headshot_text">Meer Baker</p>
          <p class="headshot_subtext">Product Development</p>
          <p class="headshot_subsubtext">Aerospace Engineering</p>
      </div>
    </div>

    <div class="descriptionContainer">
      <p class="descriptionText">
        New problems require new solutions, and old problems need fresh perspective. SAPANA is a student-based research consultancy firm offering expert insights into current and future problems relating to space. Our expertise spans aerospace and mechanical engineering, political science, economics, computer science, and business. We are independent, inquisitive, and dedicated to excellence.
      </p><br>
      <p class="descriptionText">
        Based in Colorado, we are embedded in an unparalleled network of space experts from government, industry, and research environments. Our goal is to support the sustainable development of space for the good of all humankind.
      </p><br>
      <p class="descriptionText">
        Our name is inspired by the Native American story of a young girl named Sapana who dreamed of climbing a tree and reaching the sky. We chose this name to inspire us to reach to heights unknown.
      </p>
    </div>

  </div>

  <div class="previous_work" id="research_elem">

    <p class="previous_work_text">
      Our Research
    </p>

    <div class="downloadContainer">

      <p class="download_title">Office of the Secretary of Defense</p>
      <p class="download_subtitle">Recommendations for Future Space Policy</p>

      <div class="download_list">
        <div class="download_item">
            <a href="../../assets/OSDSpaceProblem.pdf" target="_blank">
              <img draggable="false" class="download_icon" src="../../assets/pdf.png" alt="pdf" style="margin-right: 2vw">
            </a>
            <p class="download_text">Problem</p>
        </div>
        <div class="download_item">
            <a href="../../assets/SAPANA_final_brief.pdf" target="_blank">  
              <img draggable="false" class="download_icon" src="../../assets/docs.png" alt="doc">
            </a>
            <p class="download_text">Policy Brief</p>
        </div>
        <div class="download_item">
            <a href="../../assets/SAPANA_final_pitch.pptx" target="_blank">
              <img draggable="false" class="download_icon" src="../../assets/slides.png" alt="slides">
            </a>
            <p class="download_text">Slide Deck</p>
        </div>
        <div class="download_item" style="filter: grayscale(100%) blur(1px);">
            <!-- <a href="http://google.com" target="_blank">     -->
              <img draggable="false" class="download_icon" src="../../assets/youtube.png" alt="recording">
            <!-- </a> -->
            <p class="download_text">Presentation<br>Coming soon...</p>
        </div>
      </div>
    </div>

  </div>

  <div class="contact_us" id="contact_elem">

    <p class="contact_us_text">
      Contact Us
    </p>

    <div class="mailContainer">
      <img draggable="false" class="mail_icon" src="../../assets/mail.png" alt="pdf" style="margin-right: 30px">
      <a class="mail_text" href="mailto:team@sapana.space" >team@sapana.space</a>
    </div>

  </div>

</div>

<app-footer></app-footer>

