.homeContainer {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  z-index: 1;

  
  .splash {
    // width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
    .logo {
      // height: 500px;
      // width: 80%;
      width: 80%;
      // max-width: 90%;
      user-select: none;
    }
  }

  @media only screen and (max-width: 1026px) {
    // .logo {
    //   display: none;
    // }
    .splash {
      height: 32vh;
    }
    .downCarrotContainer {
      display: none;
    }
  }

  .downCarrotContainer {
    position: absolute;
    align-content: center;
    bottom: 32px;
    left: 0;
    width: 100%;
    text-align: center;
    .downCarrot_img {
      width: 5%;
      cursor: pointer;
      transition: 400ms ease-in-out;
      &:hover {
        transform: translateY(16px);
        transition: 600ms ease-in-out;
      }
    }
    .downCarrot {
      font-size: 5em;
      cursor: pointer;
      transition: 400ms ease-in-out;
      &:hover {
        transform: translateY(16px);
        transition: 600ms ease-in-out;
      }
    }
  }

  .about {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // margin-top: 2vw;

    .about_text {
      // margin-top: 20px;
      // font-family: "Helvetica Neue", sans-serif, arial;
      font-family: 'Roboto', sans-serif;
      // font-size: 300%;
      font-size: 3.5vw;
      font-weight: bold;
    }

    .headshotsContainer {
      // margin-top: 30px;
      margin-top: 2vw;
      // padding-left: 150px;
      // padding-right: 150px;
      margin-right: 9vw;
      margin-left: 9vw;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-around;
  
      .headshot{
        height: 20vw;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
  
        .headshot_text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #003858;
          font-family: "Helvetica Neue", sans-serif, arial;
          // font-size: 150%;
          font-size: 1.5vw;
          font-weight: bold;
        }
    
        .headshot_img {
          // height: 250px;
          height: 15vw;
          // width: auto;
          user-select: none;
          border-radius: 50%;
        }
      }
    }

    .descriptionContainer {
      // height: 500px;
      // margin-top: 50px;
      margin-top: 2vw;
      // padding-left: 200px;
      // padding-right: 200px;
      padding-left: 5vw;
      padding-right: 5vw;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-around;

      .descriptionText {
        margin-top: 5vw;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 200%;
        font-size: 2.5vw;
      }

      .descriptionLink {
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 200%;
        font-size: 2.5vw;
        color: #56CCF2;
        font-weight: bold;
      }
    }
  }

  .previous_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    margin-top: 10vw;

    .previous_work_text {
      // margin-top: 20px;
      font-family: "Helvetica Neue", sans-serif, arial;
      // font-size: 300%;
      font-size: 3.5vw;
      font-weight: bold;
    }

    .downloadContainer {
      width: 100%;
      height: auto;
      // margin-top: 50px;
      margin-top: 3vw;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: space-around;
      flex-direction: column;
      background: #404254;

      .download_title {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 350%;
        font-size: 4vw;
        font-weight: bold;
      }

      .download_subtitle {
        // margin-top: 20px;
        margin-top: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: "Helvetica Neue", sans-serif, arial;
        // font-size: 200%;
        font-size: 3vw;
        // font-weight: bold;
      }

      .download_list {
        margin-top: 2vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;

        .download_item {
          // height: 300px;
          // height: 20vw;
          // padding: 15px;
          padding: 1vw;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: space-around;
          filter: grayscale(100%) blur(5px);
    
          .download_text {
            padding: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            font-family: "Helvetica Neue", sans-serif, arial;
            // font-size: 150%;
            font-size: 2vw;
            font-weight: bold;
          }
      
          .download_icon {
            // margin-right: 30px;
            // height: 200px;
            height: 20vw;
            // width: auto;
            user-select: none;
          }
        }
      }
    }
  }

  .contact_us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;

    .contact_us_text {
      font-family: "Helvetica Neue", sans-serif, arial;
      // font-size: 300%;
      font-size: 3.5vw;
      font-weight: bold;
    }

    .mailContainer {
      padding: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .mail_icon {
        height: 5vw;
        width: auto;
        user-select: none;
      }

      .mail_text {
        display: flex;
        // justify-content: center;
        // align-items: center;
        color: #2D9CDB;
        font-family: "Helvetica Neue", sans-serif, arial;
        font-size: 2.5vw;
        font-weight: bold;
      }
    }
  }
}
