<div class="homeContainer">
  <div class="splash">
    <img draggable="false" class="logo" src="../../assets/Sapana.jpeg" alt="Main Sapana Logo: Strategies for Aerospace Policy and Norm Adoption">
  </div>
  <div class="downCarrotContainer"><img draggable="false" class="downCarrot_img" src="../../assets/dcarrot.png" alt="Britnee Leopold"></div>
  <div class="about">

    <p class="about_text">
      About Us
    </p>

    <div class="headshotsContainer">
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/britnee.jpg" alt="Britnee Leopold">
          <p class="headshot_text">Britnee Leopold</p>
      </div>
      <div class="headshot">
        <img draggable="false" class="headshot_img" src="../../assets/akhil.png" alt="Akhil Rao, PhD">
        <p class="headshot_text">Akhil Rao, PhD</p>
      </div>
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/tim.jpg" alt="Timothy Passmore, PhD">
          <p class="headshot_text">Tim Passmore, PhD</p>
      </div>
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/daniel.jpeg" alt="Daniel Scott">
          <p class="headshot_text">Daniel Scott</p>
      </div>
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/matt.jpg" alt="Matthew Roberts">
          <p class="headshot_text">Matthew Roberts</p>
      </div>
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/meer.jpg" alt="Meer Baker">
          <p class="headshot_text">Meer Baker</p>
      </div>
      <div class="headshot">
          <img draggable="false" class="headshot_img" src="../../assets/kim.jpg" alt="Kimberly DeVore">
          <p class="headshot_text">Kimberly DeVore</p>
      </div>
    </div>

    <div class="descriptionContainer">
      <p class="descriptionText">
        Made up of diverse educational backgrounds, SAPANA is a consultancy group that can approach problems from a unique perspective.
      </p>
      <p class="descriptionText">
        SAPANA has already successfully completed a policy brief for the Office of the Undersecretary of Defense for Policy. The redacted report is available below to read.
      </p>
      <p class="descriptionText">
        Our name is inspired by the Native American story about a young girl named Sapana who dreamed of climbing a tree and reaching the sky. We chose this name to inspire us to also climb trees.
      </p>
      <a class="descriptionLink" href="https://www.storiestogrowby.org/story/girl-who-climbed-to-the-sky/">[click here to read the story of Sapana]</a>
    </div>

  </div>

  <div class="previous_work">

    <p class="previous_work_text">
      Previous Work
    </p>

    <div class="downloadContainer">

      <p class="download_title">Office of the Secretary of Defense</p>
      <p class="download_subtitle">Designing for Defense - Space Challenge</p>

      <div class="download_list">
        <div class="download_item">
            <a href="http://google.com" target="_blank">
              <img draggable="false" class="download_icon" src="../../assets/pdf.png" alt="pdf" style="margin-right: 30px">
            </a>
            <p class="download_text">Problem</p>
        </div>
        <div class="download_item">
            <img draggable="false" class="download_icon" src="../../assets/docs.png" alt="doc">
            <p class="download_text">Policy Brief</p>
        </div>
        <div class="download_item">
            <img draggable="false" class="download_icon" src="../../assets/slides.png" alt="slides">
            <p class="download_text">Slide Deck</p>
        </div>
        <div class="download_item">
            <img draggable="false" class="download_icon" src="../../assets/youtube.png" alt="recording">
            <p class="download_text">Presentation</p>
        </div>
      </div>
    </div>

  </div>

  <div class="contact_us">

    <p class="contact_us_text">
      Contact Us
    </p>

    <div class="mailContainer">
      <img draggable="false" class="mail_icon" src="../../assets/mail.png" alt="pdf" style="margin-right: 30px">
      <a class="mail_text" href="mailto:team@sapana.space" >team@sapana.space</a>
    </div>

  </div>

</div>
<app-footer></app-footer>

